@tailwind base;
@tailwind components;
@tailwind utilities;



.darkmode{
    @apply
    bg-[#202c37]
    text-[#fff]
}

.whitemode{
    @apply
    bg-[#fff]
    text-[#202c37]
}

main{
    @apply
    w-full
    h-full
    min-h-screen
}

select{
    padding: 4px;
    color:red;
    border-radius: 4px;

}
select option{
    background-color: black;
    color: white;
    border: 1px solid red;
    margin-top: 2px;
}
